<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <!-- Ajoutez ce lien pour Bootstrap (si vous ne l'avez pas déjà ajouté) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href=" /static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/assets/styletra/css/owl.carousel.min.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/assets/styletra/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> <!-- For icons -->
    <!-- Style -->
      <!-- Pour les icones -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">

    <!--<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style1.css">-->
      <link href="/static/assets/styletra/css/style.css" rel="stylesheet">
    <link href="/static/assets/styletra/css/style1.css" rel="stylesheet">
    <title>TOM-MEDLOG GED</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">

  </head>
  <body>
   {% include 'templatetra/sidebar_ged.html' %}


    <main>
       <div class="header">
    <div class="header-content d-flex justify-content-between align-items-center py-3 px-4">
        <!-- Barre de recherche à gauche -->
        <div class="d-flex align-items-center" style="width: 65%;">
            <!--<form class="form-inline my-2" style="width: 100%;">
                <input class="form-control mr-2 search-bar w-100" type="search" placeholder="Search" aria-label="Search">
            </form>-->
            <!---<a href="list_demande.html" class="position-relative ml-2">
                <i class="fas fa-bell fa-lg" style="color: black;"></i>
                <span class="badge rounded-pill badge-notification bg-danger" id="notification-bar">2</span>

            </a>-->

        </div>

<div class="d-flex align-items-center">
  <a
    href="/doc/liste_permission_manage/{{ util.id_utilisateur }}"
    id="navbarDropdownMenuLink"
    role="button"
    aria-expanded="false"
    class="d-flex align-items-center"
  >
    <i class="fas fa-bell" style="color: black; margin-right: 5px;"></i>
    <span class="badge rounded-pill badge-notification bg-danger" id="notification-bar">0</span>
  </a>
    <p style="color: whitesmoke" id="monutil">{{ util.id_utilisateur }}</p>
</div>
      <div class="d-flex align-items-center">

            <div class="text-right text-white mr-3">
                <p style="color: black" class="mb-0">{{ util.nom }} {{ util.prenom }}</p>
                <p style="color: black" class="mb-0">{{ util.direction }}</p>
                <a style="color: red" href="/doc/deconnexion/">Se Déconnecter</a>
            </div>
            <img src="/static/images/imgtra/images/logo1.png" alt="Profile Image" class="rounded-circle profile-img" style="width: 80px; height: 80px;">
        </div>
    </div>
</div>
        <div class="site-section">
            <div class="container">
              <a type="button" class="btn btn-danger btn-lg ms-3" href="/doc/liste_document_catble/{{ boite.id_boite }}/{{ util.id_utilisateur }}"><i class="bi bi-arrow-left"></i> retour</a>
                <div class="row justify-content-center align-items-center">
                    <div class="col-12">
                        <div class="card shadow custom-card mx-auto" style="color: black">
                            <div class="card-body p-4">
                                <form method="POST" action="/doc/ajouterdocument_cartable/" enctype="multipart/form-data">
                                    <div class="text-center mb-4">
                                        <p style="color: #000; font-size: 25px;">Ajouter Document Cartable</p>
                                    </div>
                                    <!-- Mentions input -->
                                    {% csrf_token %}


                                        <input type="hidden" name="id_user" value="{{util.id_utilisateur}}"  />
                                        <input type="hidden" name="id_boite" value="{{boite.id_boite}}"  />
                                     <div class="form-row">
    <div class="col-md-6 mb-6">
                                        <label for="mentions">Identifiant</label>
                                        <input type="text" name="numero" id="numero" class="form-control form-control-lg" placeholder="Identifiant" required/>
    {% if message %}
                                            <p style="color: red">{{ message }}</p>
                                        {%  endif %}
    </div>

    <div class="col-md-6 mb-6">
                                        <label for="mentions">BL</label>
                                        <input type="text" name="bl" id="mentions" class="form-control form-control-lg" placeholder="BL" />
    {% if messagebl %}
                                            <p style="color: red">{{ messagebl }}</p>
                                        {%  endif %}
    </div>
                                     </div>
                                     <div class="form-row">
    <div class="col-md-6 mb-6">


                                        <label for="mentions">ETA</label>
                                        <input type="date" name="eta" id="mentions" class="form-control form-control-lg" placeholder="ETA" />
                                    </div>

    <div class="col-md-6 mb-6">

                                        <label for="mentions">Client</label>
                                        <input type="text" name="client" id="mentions" class="form-control form-control-lg" placeholder="Client" />
                                    </div>
                                     </div>
                                     <div class="form-row">
    <div class="col-md-6 mb-6">
                                        <label for="mentions">Navire</label>
                                        <input type="text" name="navire" id="mentions" class="form-control form-control-lg" placeholder="Navire" />
                                    </div>

    <div class="col-md-6 mb-6">
                                        <label for="mentions">Numero Voyage</label>
                                        <input type="text" name="voyage" id="mentions" class="form-control form-control-lg" placeholder="Numero Voyage" />
                                    </div>
                                     </div>
                                     <div class="form-row">
    <div class="col-md-12 mb-12">
                                    <div class="form-group mb-4">
                                        <label for="file">Charger le fichier</label>
                                        <input type="file" name="file" id="file" class="form-control form-control-lg"  />
                                    </div>
    </div>
                                     </div>


                                    <!-- Niveau input -->
  <br>
                <div class="text-center">
                    <button type="submit" name="valider" class="btn btn-info btn-icon btn-sm" style="padding: 10px 20px; font-size: 14px; width: 100px;" >Valider</button>
                </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
     <script src="/static/assets/js/jstra/js/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/js/jstra/js/popper.min.js"></script>
    <script src="/static/assets/js/jstra/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/jstra/js/main.js"></script>
</body>
</html>
