<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <!-- Ajoutez ce lien pour Bootstrap (si vous ne l'avez pas déjà ajouté) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href=" /static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/assets/styletra/css/owl.carousel.min.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/assets/styletra/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> <!-- For icons -->
    <!-- Style -->
    <!--<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style1.css">-->
      <link href="/static/assets/styletra/css/style.css" rel="stylesheet">
    <link href="/static/assets/styletra/css/style1.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
    <title>TOM-MEDLOG GED</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    let fetchInterval;
    function fetchData(){
        const paragraphElement = document.getElementById('monutil');
        const paragraphContent = paragraphElement.textContent;

        const rgElement = document.getElementById('rg');
        const rgContent = rgElement.textContent;
        ////
        const roleElement = document.getElementById('role');
        const roleContent = roleElement.textContent;
        ////
        const boiteElement = document.getElementById('monboite');
        const boiteContent = boiteElement.textContent;
        $.ajax({
            url: '/doc/fetch_document_boite/18',
            method: 'GET',
            data: { id_user: paragraphContent, bte : boiteContent },
            success: function(response){
                if (response.data) {
                    updateTable(response.data);
                }
            },
            error: function(xhr, status, error) {
                console.error("Error fetching data: ", status, error);
            }
        });
    }

    function updateTable(data) {
        let tableBody = $("#your-table-id tbody");
        let paragraphElement = document.getElementById('monutil');
        let paragraphContent = paragraphElement.textContent;
        let boiteElement = document.getElementById('monboite');
        let boiteContent = boiteElement.textContent;
        let rgElement = document.getElementById('rg');
        let rgContent = rgElement.textContent;
        ////
        let roleElement = document.getElementById('role');
        let roleContent = roleElement.textContent;
        tableBody.empty();  // Vide la table actuelle

        data.forEach(function(item) {
        let row = '<tr>';
    row += '<td>' + item.numero_document + '</td>';
    row += '<td>' + item.bl + '</td>';
    row += '<td>' + item.date_creation + '</td>';
    row += '<td>' + item.eta + '</td>';
    row += '<td>' + item.client + '</td>';
    row += '<td>' + item.nom_navire + '</td>';
    row += '<td>' + item.numero_voyage + '</td>';
     row += `<td>`
            row += '<div class="action-buttons">';
            if ( roleContent === 'chef') {

                row += `<a href="/doc/voirdoc/${item.id}/${paragraphContent}" class="btn btn-info btn-icon btn-sm" style="padding: 10px 20px; font-size: 14px; width: 100px;"><i class="bi bi-eye"></i>Voir</a>`;
                if (rgContent !== 'Aucune' && item.bt === 0 && item.cons === 0) {
                    row += `<a href="/doc/demandedoc/${paragraphContent}/${item.id}" class="btn btn-info btn-icon btn-sm"><i class="bi bi-send"></i>Consulter</a>`;
                }

                row += `<a href="/doc/refuse_page/${paragraphContent}/${item.id}" class="btn btn-danger btn-icon btn-sm" style="padding: 10px 20px; font-size: 14px; width: 100px;"><i class="bi bi-x"></i> Restreindre</a>`;

            } else
            {
                if (item.dmd === 1 && item.ref === 1) {
      row += 'Demande refusée';
    }
                if (item.dmd === 0) {
                    row += 'Pas d\'accès';
                     row += `<a href="/doc/dmd_permission/${paragraphContent}/${item.id}" class="btn btn-info btn-icon btn-sm" style="padding: 10px 20px; font-size: 14px; width: 100px;"><i class="bi bi-send"></i> Permission</a></td>`;
                }
                 if (item.dmd === 1 && item.ref === 0 ) {
      row += 'Demande en Cours';
    }



    // Access link (if accessible)
    if (item.acces === 1) {
      ////voire
        row += `<a href="/doc/voirdoc/${item.id}/${paragraphContent}" class="btn btn-info btn-icon btn-sm" style="padding: 10px 20px; font-size: 14px; width: 100px;"><i class="bi bi-eye">Voir</i></a>`;

      // Additional access options (if boite has a number and item is not requested)
      if ( rgContent !== 'Aucune' && item.bt === 0 && item.cons === 0) {
        ///Cons

                    row += `<a href="/doc/demandedoc/${paragraphContent}/${item.id}" class="btn btn-info btn-icon btn-sm"><i class="bi bi-send"></i>Consulter</a>`;


      }
    }

            }
            row += '</div>';
            row += '</td>';




row += '</tr>';







row += '</tr>';

    // Ajout de la ligne au tableau
    tableBody.append(row);
    });
    }
    //let fetchInterval;
    function filterTable(searchTerm) {
    const tableBody = $("#your-table-id tbody");
    const rows = tableBody.find('tr');

    rows.each(function() {
      const textContent = $(this).text().toLowerCase();
      const visible = textContent.indexOf(searchTerm.toLowerCase()) !== -1;
      $(this).toggle(visible);
    });
  }

  // Event listener for search input
  $("#searchInput").on('keyup', function() {
    const searchTerm = $(this).val();
    filterTable(searchTerm);
  });


    function startFetchingData() {
        fetchData(); // Charger les données initiales
        fetchInterval = setInterval(fetchData, 5000); // 5000ms = 5s
    }

    function stopFetchingData() {
        clearInterval(fetchInterval);


    }
    $("#searchInput").on('keyup', function() {
        if ($("#searchInput").val().trim() !== "") {
            //
            stopFetchingData();
        }else
        {
            //

        }
        if ($("#searchInput").val().trim() === "") {
            startFetchingData();
        }



            });






    // Appeler fetchData() pour charger les données initiales
    //fetchData();

    // Optionnel: Actualiser les données toutes les X secondes
    //setInterval(fetchData, 5000); // 30000ms = 30s
    startFetchingData();


});
</script>

<script>
$(document).ready(function(){
    let fetchInterval

    let notificationCount = 0;
    function fetchDataNot(){
        const paragraphElement = document.getElementById('monutil');
        const paragraphContent = paragraphElement.textContent;


        $.ajax({
            url: '/doc/fetch_permission/18',
            method: 'GET',
            data: { id_user: paragraphContent },
            success: function(response){
                if (response.data) {
                    updateTableNot(response.data);
                }
            },
            error: function(xhr, status, error) {
                console.error("Error fetching data: ", status, error);
            }
        });
    }

    function updateTableNot(data) {
    notificationCount=data.length;
        //notificationCount=5;


    }

      function startFetchingDataNot() {
        fetchDataNot(); // Charger les données initiales
       fetchInterval = setInterval(fetchDataNot, 5000); // 5000ms = 5s
    }

function updateNotificationCount() {
    // Update the paragraph content with the notification count
  const notificationBarElement = document.getElementById('notification-bar');
  notificationBarElement.textContent = `${notificationCount}`;
}

// Update notification count every 100 milliseconds (replace with a suitable interval)
setInterval(updateNotificationCount, 100);
    startFetchingDataNot();

});
</script>
  </head>
  <body>
    <aside class="sidebar" style="background-color: rgb(49, 47, 47);">
        <div class="toggle">
            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>
        <div class="side-inner">
            <div class="profile">
                <img src="/static/images/imgtra/images/logo.png" alt="Image" class="img-fluid">
            </div>

            <!-- Menu principal -->
            <div class="nav-menu folo">
                <ul>
                    <li class="accordion main-menu">

                            <span class="icon-home mr-3"></span>MENU PRINCIPAL

                    </li>
                </ul>
            </div>

            <div class="nav-menu">
                <ul>
                {% if util.direction == 'documentation' %}
                     <p></p>

                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseTransfert" aria-expanded="false" aria-controls="collapseTransfert" class="collapsible">
                            <span class="icon-sync mr-3"></span>DOCUMENTATION
                        </a>
                        <div id="collapseTransfert" class="collapse" aria-labelledby="headingTransfert">
                            <div>
                                <ul>
                                   <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">BOITES</a></li>

                                            <li><a href="/doc/tot_document/{{ util.id_utilisateur  }}">DOCUMENTS</a></li>
                                          {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}" style="text-transform: uppercase;">REQUETES Reçues</a></li>
                                              {% endif %}
                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}">MES DEMENDES </a></li>
                                        <li><a href="/doc/liste_consultation/{{ util.id_utilisateur }}">MES CONSULTATION</a></li>


                                </ul>
                            </div>
                        </div>
                    </li>
                         {% endif %}
                 {% if util.direction == 'facturation' %}

                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseFacturation" aria-expanded="false" aria-controls="collapseFacturation" class="collapsible">
                            <span class="icon-file-text mr-3"></span>FACTURATION
                        </a>
                        <div id="collapseFacturation" class="collapse" aria-labelledby="headingFacturation">
                            <div>
                            <ul>
{#                                 CREER UTILISATEUR#}
{#                                <li>{{  util.direction }}</li>#}


                                            <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">BOITES</a></li>

                                            <li><a href="/doc/tot_document/{{ util.id_utilisateur  }}">DOCUMENTS</a></li>
                                          {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}" style="text-transform: uppercase;">REQUETES Reçues</a></li>
                                              {% endif %}
                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}"> MES DEMENDES </a></li>
                                        <li><a href="/doc/liste_consultation/{{ util.id_utilisateur }}">MES CONSULTATIONS</a></li>
                       </ul>
                            </div>
                        </div>
                    </li>

                 {% endif %}


                    {% if util.direction == 'archive' %}

                        <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseArchive" aria-expanded="false" aria-controls="collapseArchive" class="collapsible">
                            <span class="icon-archive mr-3"></span>ARCHIVE
                        </a>
                        <div id="collapseArchive" class="collapse" aria-labelledby="headingArchive">
                            <div>
                                <ul>

                                        <li><a href="/doc/liste_boite_cloture/{{ util.id_utilisateur }}">BOITES CLOTURÉES</a></li>
                                    <li><a href="/doc/liste_boite_classes/{{ util.id_utilisateur }}">BOITTES CLASSEES</a></li>

                                    <!--<li><a href="/doc/listedmd/{{ util.id_utilisateur }}">DEMANDES</a></li>-->
                                    <li><a href="/doc/listedemesddemande/{{ util.id_utilisateur }}">CONSULTATIONS</a></li>
                                    <li><a href="/doc/listedmd/{{ util.id_utilisateur }}">CONSULTATIONS</a></li>
                                         <!--<li><a href="./list_cartable_archiviste.html">LES CARTABLES CLOTURÉES</a></li>
                                          <li><a href="./list_cartable_archiviste.html">LES CARTABLES CLOTURÉES</a></li>
                                    <li><a href="/doc/listedmd/{{ util.id_utilisateur }}">DEMANDES</a></li>-->
                          </ul>

                            </div>
                        </div>

                    {% endif %}


                    </li>
                {% if util.direction == 'ADMIN' %}

                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseDocumentation" aria-expanded="false" aria-controls="collapseDocumentation" class="collapsible">
                            <span class="icon-book mr-3"></span>ADMINISTRATEUR
                        </a>
                        <div id="collapseDocumentation" class="collapse" aria-labelledby="headingDocumentation">
                            <div>
                                <ul>
                                    <li><a href="/doc/listechef/{{ util.id_utilisateur }}">CHEFS SERVICES</a></li>
                                    <!--<li><a href="./list_document_agent_.html">LES DOCUMENTS</a></li>
                                    <li><a href="./list_cartable_agent.html">LES CARTABLES</a></li>
                                    <li><a href="./list_classeur_agent.html">LES CLASSEURS</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}
                 {% if util.direction == 'transfert'%}

                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseTransfert" aria-expanded="false" aria-controls="collapseTransfert" class="collapsible">
                            <span class="icon-sync mr-3"></span>TRANSFERT
                        </a>
                        <div id="collapseTransfert" class="collapse" aria-labelledby="headingTransfert">
                            <div>
                                <ul>
                                   <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">BOITES</a></li>

                                            <li><a href="/doc/tot_document/{{ util.id_utilisateur  }}">DOCUMENTS</a></li>
                                          {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}" style="text-transform: uppercase;">REQUETES Reçcues</a></li>
                                              {% endif %}
                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}">MES DEMENDES</a></li>
                                        <li><a href="/doc/liste_consultation/{{ util.id_utilisateur }}">MES CONSULTATIONS</a></li>


                                </ul>
                            </div>
                        </div>
                    </li>
                     {% endif %}


                {% if util.direction == 'management'  %}
                     <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseSacherie" aria-expanded="false" aria-controls="collapseSacherie" class="collapsible">
                            <span  class="icon-file-text mr-3"></span>Management
                        </a>
                        <div id="collapseSacherie" class="collapse" aria-labelledby="headingSacherie">
                            <div>
                                <ul>
                                    <li><a href="/doc/listecartable/{{ util.id_utilisateur }}">CARTABLE</a></li>
                                <li><a href="/doc/liste_permission_manage/{{ util.id_utilisateur }}" style="text-transform: uppercase;">REQUETES Reçues</a></li>

                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}"> MES DEMENDES </a></li>


                                                 </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}
                {% if util.direction == 'sacherie' %}
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseSacherie" aria-expanded="false" aria-controls="collapseSacherie" class="collapsible">
                            <span  class="icon-file-text mr-3"></span>SACHERIE
                        </a>
                        <div id="collapseSacherie" class="collapse" aria-labelledby="headingSacherie">
                            <div>
                                <ul>
                                    <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">BOITES</a></li>

                                            <li><a href="/doc/tot_document/{{ util.id_utilisateur  }}">DOCUMENTS</a></li>
                                          {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}" style="text-transform: uppercase;">MES REQUETES  Reçues </a></li>
                                              {% endif %}
                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}">MES DEMENDES</a></li>
                                        <li><a href="/doc/liste_consultation/{{ util.id_utilisateur }}">MES CONSULTATIONS</a></li>


                                </ul>
                            </div>
                        </div>
                    </li>
                 {% endif %}
                {% if util.direction == 'comptabilite' %}
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseComptabilite" aria-expanded="false" aria-controls="collapseComptabilite" class="collapsible">
                            <span class="icon-calculator mr-3"></span>COMPTABILITÉ
                        </a>
                        <div id="collapseComptabilite" class="collapse" aria-labelledby="headingComptabilite">
                            <div>
                                <ul>
                                    <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">BOITES</a></li>

                                            <li><a href="/doc/tot_document/{{ util.id_utilisateur  }}">DOCUMENTS</a></li>
                                          {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}" style="text-transform: uppercase;">REQUETES Reçcues</a></li>
                                              {% endif %}
                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}">MES DEMANDE</a></li>
                                        <li><a href="/doc/liste_consultation/{{ util.id_utilisateur }}">MES CONSULTATIONS</a></li>


                                </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}



                </ul>
            </div>
        </div>
    </aside>


    <main>
       <div class="header">
    <div class="header-content d-flex justify-content-between align-items-center py-3 px-4">
        <!-- Barre de recherche à gauche -->
        <div class="d-flex align-items-center" style="width: 55%;">
            <!--<form class="form-inline my-2" style="width: 100%;">
                <input class="form-control mr-2 search-bar w-100" type="search" placeholder="Search" aria-label="Search">
            </form>
            <a href="list_demande.html" class="position-relative ml-2">
                <i class="fas fa-bell fa-lg" style="color: black;"></i>
            </a>-->
        </div>
        {% if util.role == 'chef'  %}
        <div class="d-flex align-items-center">

               <a


          href="/doc/liste_permission/{{ util.id_utilisateur }}"
          id="navbarDropdownMenuLink"
          role="button"
          aria-expanded="false"
        >
          <i class="fas fa-bell" style="color: black"></i>
          <span class="badge rounded-pill badge-notification bg-danger" id="notification-bar"></span>
        </a>

        </div>
        {% endif  %}
     <div class="d-flex align-items-center">

            <div class="text-right text-white mr-3">
                <p style="color: black" class="mb-0">{{ util.nom }} {{ util.prenom }}</p>
                <p style="color: black" class="mb-0">{{ util.direction }}</p>
                <a style="color: red" href="/doc/deconnexion/">Se Déconnecter</a>
            </div>
            <img src="/static/images/imgtra/images/logo1.png" alt="Profile Image" class="rounded-circle profile-img" style="width: 80px; height: 80px;">
        </div>
</div>
       </div>
        <div class="site-section">
            <div class="container">
                  <a type="button" class="btn btn-danger btn-lg ms-3" href="/doc/listedocumentboite/{{ boite.id_boite }}/{{ util.id_utilisateur }}"><i class="bi bi-arrow-left"></i> retour</a>
                <div class="row justify-content-center align-items-center">
                    <div class="col-12">
                        <div class="card shadow custom-card mx-auto">
                            <div class="card-body p-4">
                                <form method="POST" action="/doc/ajouterdocument/" enctype="multipart/form-data">
                                    <div class="text-center mb-4">
                                        <p style="color: #000; font-size: 25px;">Ajouter Document</p>
                                    </div>
                                    <!-- Mentions input -->
                                    {% csrf_token %}


                                        <input type="hidden" name="id_user" value="{{util.id_utilisateur}}"  />
                                        <input type="hidden" name="id_boite" value="{{boite.id_boite}}"  />
                                     <div class="form-row">
    <div class="col-md-6 mb-6">

                                        <label for="mentions">Identifiant</label>
                                        <input type="text" name="numero" id="numero" class="form-control form-control-lg" placeholder="Identifiant" required/>
         {% if message %}
                                            <p style="color: red">{{ message }}</p>
                                        {%  endif %}
                                    </div>
                                         <div class="col-md-6 mb-6">

                                        <label for="mentions">BL</label>
                                        <input type="text" name="bl" id="mentions" class="form-control form-control-lg" placeholder="BL" required/>
                                         {% if messagebl %}
                                            <p style="color: red">{{ messagebl }}</p>
                                        {%  endif %}
                                         </div>
                                     </div>


                                     <div class="form-row">
    <div class="col-md-6 mb-6">

                                        <label for="mentions">ETA</label>
                                        <input type="date" name="eta" id="mentions" class="form-control form-control-lg" placeholder="ETA" required/>
                                    </div>
                                   <div class="col-md-6 mb-6">
                                        <label for="mentions">Client</label>
                                        <input type="text" name="client" id="mentions" class="form-control form-control-lg" placeholder="Client" required/>
                                    </div>
                                     </div>
                                    <div class="form-row">
    <div class="col-md-6 mb-6">
                                        <label for="mentions">Navire</label>
                                        <input type="text" name="navire" id="mentions" class="form-control form-control-lg" placeholder="Navire" required/>
                                    </div>

    <div class="col-md-6 mb-6">
                                        <label for="mentions">Numero Voyage</label>
                                        <input type="text" name="voyage" id="mentions" class="form-control form-control-lg" placeholder="Numero Voyage" required/>
                                    </div>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label for="file">Charger le fichier</label>
                                        <input type="file" name="file" id="file" class="form-control form-control-lg" required />
                                    </div>


                                    <!-- Niveau input -->

                                    <div class="text-center">
                                      <button type="submit" name="valider" class="btn btn-info btn-icon btn-sm" style="padding: 10px 20px; font-size: 14px; width: 100px;">Valider</button>


                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <p style="color: whitesmoke" id="monutil">{{ util.id_utilisateur }}</p>
    </main>
     <script src="/static/assets/js/jstra/js/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/js/jstra/js/popper.min.js"></script>
    <script src="/static/assets/js/jstra/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/jstra/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
  $(document).ready(function(){
    let fetchInterval;
     let notificationCountCons = 0;
    function fetchDataconsulation(){
        const paragraphElement = document.getElementById('monutil');
        const paragraphContent = paragraphElement.textContent;
        $.ajax({
            url: '/doc/fetch_permission/18'',
            method: 'GET',
            data: { id_user: paragraphContent },
            success: function(response){
                if (response.data) {
                    updateTable(response.data);
                }
            },
            error: function(xhr, status, error) {
                console.error("Error fetching data: ", status, error);
            }
        });
    }

    function updateTable(data) {

        data.forEach(function(item) {

notificationCountCons=data.length;



    });
    }

function updateNotificationCountCons() {
    fetchDataconsulation(); // Charger les données initiales
        fetchInterval = setInterval(fetchDataconsulation, 5000);
    // Update the paragraph content with the notification count
  const notificationBarElement = document.getElementById('notification-bar');
  notificationBarElement.textContent = `${notificationCountCons}`;
}

// Update notification count every 100 milliseconds (replace with a suitable interval)
setInterval(updateNotificationCountCons, 100);
});
</script>
  <script>
</body>
</html>
