<aside class="sidebar" style="background-color: rgb(49, 47, 47);">
        <div class="toggle">
            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>
        <div class="side-inner">
            <div class="profile">
                <img src="/static/images/imgtra/images/logo.png" alt="Image" class="img-fluid">
            </div>

            <!-- Menu principal -->
            <div class="nav-menu folo">
                <ul>
                    <li class="accordion main-menu">

                            <span class="icon-home mr-3"></span>MENU PRINCIPAL

                    </li>
                </ul>
            </div>

            <div class="nav-menu">
                <ul>
                {% if util.direction == 'documentation' %}
                     <p></p>

                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseTransfert" aria-expanded="false" aria-controls="collapseTransfert" class="collapsible">
                            <span class="icon-sync mr-3"></span>DOCUMENTATION
                        </a>
                        <div id="collapseTransfert" class="collapse" aria-labelledby="headingTransfert">
                            <div>
                                <ul>
                                   <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">BOITES</a></li>

                                            <li><a href="/doc/tot_document/{{ util.id_utilisateur  }}">DOCUMENTS</a></li>
                                          {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}">MES DEMENDES Reçues</a></li>
                                              {% endif %}
                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}">REQUETES Reçues</a></li>
                                        <li><a href="/doc/liste_consultation/{{ util.id_utilisateur }}">MES CONSULTATION</a></li>


                                </ul>
                            </div>
                        </div>
                    </li>
                         {% endif %}
                 {% if util.direction == 'facturation' %}

                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseFacturation" aria-expanded="false" aria-controls="collapseFacturation" class="collapsible">
                            <span class="icon-file-text mr-3"></span>FACTURATION
                        </a>
                        <div id="collapseFacturation" class="collapse" aria-labelledby="headingFacturation">
                            <div>
                            <ul>
{#                                 CREER UTILISATEUR#}
{#                                <li>{{  util.direction }}</li>#}


                                            <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">BOITES</a></li>

                                            <li><a href="/doc/tot_document/{{ util.id_utilisateur  }}">DOCUMENTS</a></li>
                                          {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}">MES DEMENDES</a></li>
                                              {% endif %}
                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}"> REQUETES Reçues</a></li>
                                        <li><a href="/doc/liste_consultation/{{ util.id_utilisateur }}">MES CONSULTATIONS</a></li>
                       </ul>
                            </div>
                        </div>
                    </li>

                 {% endif %}


                    {% if util.direction == 'archive' %}

                        <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseArchive" aria-expanded="false" aria-controls="collapseArchive" class="collapsible">
                            <span class="icon-archive mr-3"></span>ARCHIVE
                        </a>
                        <div id="collapseArchive" class="collapse" aria-labelledby="headingArchive">
                            <div>
                                <ul>

                                        <li><a href="/doc/liste_boite_cloture/{{ util.id_utilisateur }}">BOITES CLOTURÉES</a></li>
                                    <li><a href="/doc/liste_boite_classes/{{ util.id_utilisateur }}">BOITTES CLASSEES</a></li>

                                    <!--<li><a href="/doc/listedmd/{{ util.id_utilisateur }}">DEMANDES</a></li>-->
                                    <li><a href="/doc/listedemesddemande/{{ util.id_utilisateur }}">CONSULTATIONS</a></li>
                                         <!--<li><a href="./list_cartable_archiviste.html">LES CARTABLES CLOTURÉES</a></li>
                                          <li><a href="./list_cartable_archiviste.html">LES CARTABLES CLOTURÉES</a></li>
                                    <li><a href="/doc/listedmd/{{ util.id_utilisateur }}">DEMANDES</a></li>-->
                          </ul>
                            </div>
                        </div>

                    {% endif %}


                    </li>
                {% if util.direction == 'ADMIN' %}

                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseDocumentation" aria-expanded="false" aria-controls="collapseDocumentation" class="collapsible">
                            <span class="icon-book mr-3"></span>ADMINISTRATEUR
                        </a>
                        <div id="collapseDocumentation" class="collapse" aria-labelledby="headingDocumentation">
                            <div>
                                <ul>
                                    <li><a href="/doc/listechef/{{ util.id_utilisateur }}">CHEF SERVICES</a></li>
                                    <!--<li><a href="./list_document_agent_.html">LES DOCUMENTS</a></li>
                                    <li><a href="./list_cartable_agent.html">LES CARTABLES</a></li>
                                    <li><a href="./list_classeur_agent.html">LES CLASSEURS</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}
                 {% if util.direction == 'transfert'%}

                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseTransfert" aria-expanded="false" aria-controls="collapseTransfert" class="collapsible">
                            <span class="icon-sync mr-3"></span>TRANSFERT
                        </a>
                        <div id="collapseTransfert" class="collapse" aria-labelledby="headingTransfert">
                            <div>
                                <ul>
                                   <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">BOITES</a></li>

                                            <li><a href="/doc/tot_document/{{ util.id_utilisateur  }}">DOCUMENTS</a></li>
                                          {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}">MES DEMENDES</a></li>
                                              {% endif %}
                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}">REQUETES Reçcues</a></li>
                                        <li><a href="/doc/liste_consultation/{{ util.id_utilisateur }}">MES CONSULTATIONS</a></li>


                                </ul>
                            </div>
                        </div>
                    </li>
                     {% endif %}


                {% if util.direction == 'management'  %}
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseParcLogistique" aria-expanded="false" aria-controls="collapseParcLogistique" class="collapsible">
                            <span class="icon-truck mr-3"></span>Management
                        </a>
                        <div id="collapseParcLogistique" class="collapse" aria-labelledby="headingParcLogistique">
                            <div>
                                <ul>
                                    <li><a href="/doc/listecartable/{{ util.id_utilisateur }}">CARTABLE</a></li>
                                {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}">MES DEMENDES </a></li>
                                              {% endif %}
                                    <!--<li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>-->

                                           <!-- <li><a href="/doc/tot_document/{{ util.id_utilisateur  }}">DOCUMENTS</a></li>
                                          {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}">MES DEMENDES </a></li>
                                              {% endif %}
                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}">MES REAUETES Reçcues</a></li>
                                        <li><a href="/doc/liste_consultation/{{ util.id_utilisateur }}">MES CONSULTATION</a></li>-->

                                                 </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}
                {% if util.direction == 'sacherie' %}
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseSacherie" aria-expanded="false" aria-controls="collapseSacherie" class="collapsible">
                            <span  class="icon-file-text mr-3"></span>SACHERIE
                        </a>
                        <div id="collapseSacherie" class="collapse" aria-labelledby="headingSacherie">
                            <div>
                                <ul>
                                    <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">BOITES</a></li>

                                            <li><a href="/doc/tot_document/{{ util.id_utilisateur  }}">DOCUMENTS</a></li>
                                          {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}">MES DEMENDES</a></li>
                                              {% endif %}
                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}">MES REQUETES  Reçues</a></li>
                                        <li><a href="/doc/liste_consultation/{{ util.id_utilisateur }}">MES CONSULTATIONS</a></li>


                                </ul>
                            </div>
                        </div>
                    </li>
                 {% endif %}
                {% if util.direction == 'comptabilite' %}
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseComptabilite" aria-expanded="false" aria-controls="collapseComptabilite" class="collapsible">
                            <span class="icon-calculator mr-3"></span>COMPTABILITÉ
                        </a>
                        <div id="collapseComptabilite" class="collapse" aria-labelledby="headingComptabilite">
                            <div>
                                <ul>
                                    <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">BOITES</a></li>

                                            <li><a href="/doc/tot_document/{{ util.id_utilisateur  }}">DOCUMENTS</a></li>
                                          {% if util.role == 'chef'%}

                                            <li><a href="/doc/listeagent/{{ util.id_utilisateur }}">AGENTS</a></li>
                                            <li><a href="/doc/liste_permission/{{ util.id_utilisateur }}">MES DEMENDES</a></li>
                                              {% endif %}
                                        <li><a href="/doc/liste_mes_demnades/{{ util.id_utilisateur }}">MES DEMNADE DE PERMISSION AGENT</a></li>
                                        <li><a href="/doc/liste_consultation/{{ util.id_utilisateur }}">MES CONSULTATIONS</a></li>

                 {%
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}
                {% if util.direction == 'documenttation' %}
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseManagementIT" aria-expanded="false" aria-controls="collapseManagementIT" class="collapsible">
                            <span class="icon-laptop mr-3"></span>Documentataion
                        </a>
                        <div id="collapseManagementIT" class="collapse" aria-labelledby="headingManagementIT">
                            <div>
                                <ul>
                                    <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">LES BOITES</a></li>
                                    <li><a href="./list_document_agent_.html">LES DOCUMENTS</a></li>
                                    <li><a href="./list_cartable_agent.html">LES CARTABLES</a></li>
                                    <li><a href="./list_classeur_agent.html">LES CLASSEURS</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}

                    <!--<li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseLivraison" aria-expanded="false" aria-controls="collapseLivraison" class="collapsible">
                            <span class="icon-truck mr-3"></span>LIVRAISON
                        </a>
                        <div id="collapseLivraison" class="collapse" aria-labelledby="headingLivraison">
                            <div>
                                <ul>
                          <li><a href="./list_boite_agent.html">LES BOITES</a></li>
                                    <li><a href="./list_document_agent_.html">LES DOCUMENTS</a></li>
                                    <li><a href="./list_cartable_agent.html">LES CARTABLES</a></li>
                                    <li><a href="./list_classeur_agent.html">LES CLASSEURS</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>-->
                </ul>
            </div>
        </div>
    </aside>
