<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <!-- Ajoutez ce lien pour Bootstrap (si vous ne l'avez pas déjà ajouté) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> <!-- For icons -->
    <!-- Style -->
    <!--<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style1.css">-->
      <link href="/static/assets/styletra/css/style.css" rel="stylesheet">
    <link href="/static/assets/styletra/css/style1.css" rel="stylesheet">
    <title>TOM-MEDLOG GED</title>
  </head>
  <body>


    <aside class="sidebar" style="background-color: rgb(49, 47, 47);">
        <div class="toggle">
            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>
        <div class="side-inner">
            <div class="profile">
                <img src="/static/images/imgtra/images/logo.png" alt="Image" class="img-fluid">
            </div>

            <!-- Menu principal -->
            <div class="nav-menu">
                <ul>
                    <li class="accordion main-menu">

                            <span class="icon-home mr-3"></span>MENU PRINCIPAL

                    </li>
                </ul>
            </div>

            <div class="nav-menu">
                <ul>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseFacturation" aria-expanded="false" aria-controls="collapseFacturation" class="collapsible">
                            <span class="icon-file-text mr-3"></span>FACTURATION
                        </a>
                        <div id="collapseFacturation" class="collapse" aria-labelledby="headingFacturation">
                            <div>
                                <ul>
                                    <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">LES BOITES</a></li>
                                    <li><a href="./list_document_agent_.html">LES DOCUMENTS</a></li>
                                    <li><a href="./list_cartable_agent.html">LES CARTABLES</a></li>
                                    <li><a href="./list_classeur_agent.html">LES CLASSEURS</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseArchive" aria-expanded="false" aria-controls="collapseArchive" class="collapsible">
                            <span class="icon-archive mr-3"></span>ARCHIVE
                        </a>
                        <div id="collapseArchive" class="collapse" aria-labelledby="headingArchive">
                            <div>
                                <ul>
                                    <li><a href="./list_boite_archiviste.html">LES BOITES CLOTURÉES</a></li>
                                    <li><a href="./list_document.html">LES DOCUMENTS CLASSÉS</a></li>
                                    <li><a href="./list_cartable_archiviste.html">LES CARTABLES CLOTURÉES</a></li>
                                    <li><a href="./list_classeur_archiviste.html">LES CLASSEURS CLOTURÉES</a></li>
                                    <li><a href="./list_demande.html">LES DEMANDES</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseDocumentation" aria-expanded="false" aria-controls="collapseDocumentation" class="collapsible">
                            <span class="icon-book mr-3"></span>DOCUMENTATION
                        </a>
                        <div id="collapseDocumentation" class="collapse" aria-labelledby="headingDocumentation">
                            <div>
                                <ul>
                                    <li><a href="./list_boite_agent.html">LES BOITES</a></li>
                                    <li><a href="./list_document_agent_.html">LES DOCUMENTS</a></li>
                                    <li><a href="./list_cartable_agent.html">LES CARTABLES</a></li>
                                    <li><a href="./list_classeur_agent.html">LES CLASSEURS</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseTransfert" aria-expanded="false" aria-controls="collapseTransfert" class="collapsible">
                            <span class="icon-sync mr-3"></span>TRANSFERT
                        </a>
                        <div id="collapseTransfert" class="collapse" aria-labelledby="headingTransfert">
                            <div>
                                <ul>
                                    <li><a href="./list_boite_agent.html">LES BOITES</a></li>
                                    <li><a href="./list_document_agent_.html">LES DOCUMENTS</a></li>
                                    <li><a href="./list_cartable_agent.html">LES CARTABLES</a></li>
                                    <li><a href="./list_classeur_agent.html">LES CLASSEURS</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseParcLogistique" aria-expanded="false" aria-controls="collapseParcLogistique" class="collapsible">
                            <span class="icon-truck mr-3"></span>PARC LOGISTIQUE
                        </a>
                        <div id="collapseParcLogistique" class="collapse" aria-labelledby="headingParcLogistique">
                            <div>
                                <ul>
                                    <li><a href="./list_boite_agent.html">LES BOITES</a></li>
                                    <li><a href="./list_document_agent_.html">LES DOCUMENTS</a></li>
                                    <li><a href="./list_cartable_agent.html">LES CARTABLES</a></li>
                                    <li><a href="./list_classeur_agent.html">LES CLASSEURS</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseSacherie" aria-expanded="false" aria-controls="collapseSacherie" class="collapsible">
                            <span class="icon-box mr-3"></span>SACHERIE
                        </a>
                        <div id="collapseSacherie" class="collapse" aria-labelledby="headingSacherie">
                            <div>
                                <ul>
                                    <li><a href="./list_boite_agent.html">LES BOITES</a></li>
                                    <li><a href="./list_document_agent_.html">LES DOCUMENTS</a></li>
                                    <li><a href="./list_cartable_agent.html">LES CARTABLES</a></li>
                                    <li><a href="./list_classeur_agent.html">LES CLASSEURS</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseComptabilite" aria-expanded="false" aria-controls="collapseComptabilite" class="collapsible">
                            <span class="icon-calculator mr-3"></span>COMPTABILITÉ
                        </a>
                        <div id="collapseComptabilite" class="collapse" aria-labelledby="headingComptabilite">
                            <div>
                                <ul>
                                    <li><a href="./list_boite_agent.html">LES BOITES</a></li>
                                    <li><a href="./list_document_agent_.html">LES DOCUMENTS</a></li>
                                    <li><a href="./list_cartable_agent.html">LES CARTABLES</a></li>
                                    <li><a href="./list_classeur_agent.html">LES CLASSEURS</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseManagementIT" aria-expanded="false" aria-controls="collapseManagementIT" class="collapsible">
                            <span class="icon-laptop mr-3"></span>SERVICE IT
                        </a>
                        <div id="collapseManagementIT" class="collapse" aria-labelledby="headingManagementIT">
                            <div>
                                <ul>
                                    <li><a href="/doc/listeboite/{{ util.id_utilisateur }}">LES BOITES</a></li>
                                    <li><a href="./list_document_agent_.html">LES DOCUMENTS</a></li>
                                    <li><a href="./list_cartable_agent.html">LES CARTABLES</a></li>
                                    <li><a href="./list_classeur_agent.html">LES CLASSEURS</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseExport" aria-expanded="false" aria-controls="collapseExport" class="collapsible">
                            <span class="icon-globe mr-3"></span>EXPORT
                        </a>
                        <div id="collapseExport" class="collapse" aria-labelledby="headingExport">
                            <div>
                                <ul>
                                    <li><a href="./list_boite_agent.html">LES BOITES</a></li>
                                    <li><a href="./list_document_agent_.html">LES DOCUMENTS</a></li>
                                    <li><a href="./list_cartable_agent.html">LES CARTABLES</a></li>
                                    <li><a href="./list_classeur_agent.html">LES CLASSEURS</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseLivraison" aria-expanded="false" aria-controls="collapseLivraison" class="collapsible">
                            <span class="icon-truck mr-3"></span>LIVRAISON
                        </a>
                        <div id="collapseLivraison" class="collapse" aria-labelledby="headingLivraison">
                            <div>
                                <ul>
                          <li><a href="./list_boite_agent.html">LES BOITES</a></li>
                                    <li><a href="./list_document_agent_.html">LES DOCUMENTS</a></li>
                                    <li><a href="./list_cartable_agent.html">LES CARTABLES</a></li>
                                    <li><a href="./list_classeur_agent.html">LES CLASSEURS</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </aside>


    <main>
        <div class="header">
            <div class="header-content d-flex justify-content-between align-items-center py-3 px-4" >
                <h2></h2>
                <div class="d-flex align-items-center">
                    <div class="text-right text-white mr-3">
                        <p class="mb-0">Nom de l'utilisateur</p>
                        <p class="mb-0">Service: Nom du service</p>
                    </div>
                    <img src="images/logo1.png" alt="Profile Image" class="rounded-circle profile-img">
                </div>
            </div>
        </div>
        <div class="site-section">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12">
                        <div class="card shadow custom-card mx-auto">
                            <div class="card-body p-4">
<form method="POST" action="/doc/classer_boite/">
                                    <div class="text-center mb-4">
                                        <p style="color: #000; font-size: 25px;">Classer Boite  {{boite.mention}}</p>
                                    </div>
                                    <!-- Mentions input -->
     {% csrf_token %}


                                        <input type="hidden" name="id_user" value="{{util.id_utilisateur}}"  />
                                        <input type="hidden" name="id_boite" value="{{boite.id_boite}}"  />
                                    <div class="form-group mb-4">
                                        <label for="prenom">N° Rangement</label>
                                        <input  name="numerorang" type="text" id="numerorang" class="form-control form-control-lg" placeholder="Numéro De Rangement"  required/>
                                    </div>
                                    <div class="form-group mb-4">
                                    <label for="armoire">Armoire</label>
                                    <select name="armoire" id="armoire" class="form-control form-control-lg" required>
                                        <option value="">Choisir Un Armoire</option>
                                        <option value="A1">A1</option>
                                        <option value="A2">A2</option>
                                        <option value="A3">A3</option>
                                        <option value="A4">A4</option>
                                        <option value="A5">A5</option>
                                        <option value="A6">A6</option>
                                        <option value="A7">A7</option>
                                        <option value="A8">A8</option>
                                        <option value="A9">A9</option>
                                        <option value="A10">A10</option>
                                    </select>
                                </div>

                                <div class="form-group mb-4">
                                    <label for="compartiment">Compartiment</label>
                                    <select name="com" id="compartiment" class="form-control form-control-lg" required>
                                        <option value="">Choisir Un Compartiment</option>
                                        <option value="C1">C1</option>
                                        <option value="C2">C2</option>
                                        <option value="C3">C3</option>
                                        <option value="C4">C4</option>
                                    </select>
                                </div>

                                <div class="form-group mb-4">
                                    <label for="niveau">Niveau</label>
                                    <select name="niveau" id="niveau" class="form-control form-control-lg" required>
                                        <option value="">Choisir Un Niveau</option>
                                        <option value="N1">N1</option>
                                        <option value="N2">N2</option>
                                        <option value="N3">N3</option>
                                        <option value="N4">N4</option>
                                        <option value="N5">N5</option>
                                    </select>
                                </div>




                                    <!-- Niveau input -->

                                    <div class="text-center">
                                        <button type="submit" name="valider" class="btn btn-primary btn-lg">Valider</button>
                                        <!--<button type="reset" name="reset" class="btn btn-danger btn-lg ms-3">Annuler</button>-->
                                        <a  type="button" class="btn btn-danger btn-lg ms-3"href="/doc/liste_boite_cloture/{{ util.id_utilisateur }}"> A nnuler</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
