<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <!-- Ajoutez ce lien pour Bootstrap (si vous ne l'avez pas déjà ajouté) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href=" /static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/assets/styletra/css/owl.carousel.min.css">
  <style>
          label{color: black}
      </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/assets/styletra/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> <!-- For icons -->
    <!-- Style -->
      <!-- Pour les icones -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">

    <!--<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style1.css">-->
      <link href="/static/assets/styletra/css/style.css" rel="stylesheet">
    <link href="/static/assets/styletra/css/style1.css" rel="stylesheet">
    <title>TOM-MEDLOG GED</title>
  </head>
  <body>

     {% include 'templatetra/sidebar_ged.html' %}


    <main>
       <div class="header">
    <div class="header-content d-flex justify-content-between align-items-center py-3 px-4">
        <!-- Barre de recherche à gauche -->
        <div class="d-flex align-items-center" style="width: 65%;">
            <!--<form class="form-inline my-2" style="width: 100%;">
                <input class="form-control mr-2 search-bar w-100" type="search" placeholder="Search" aria-label="Search">
            </form>
            <a href="list_demande.html" class="position-relative ml-2">
                <i class="fas fa-bell fa-lg" style="color: black;"></i>
            </a>-->
        </div>
      <div class="d-flex align-items-center">

            <div class="text-right text-white mr-3">
                <p style="color: black" class="mb-0">{{ util.nom }} {{ util.prenom }}</p>
                <p style="color: black" class="mb-0">{{ util.direction }}</p>
                <a style="color: red" href="/doc/deconnexion/">Se Déconnecter</a>
            </div>
            <img src="/static/images/imgtra/images/logo1.png" alt="Profile Image" class="rounded-circle profile-img" style="width: 80px; height: 80px;">
        </div>
    </div>
</div>
        <div class="site-section">
            <div class="container">
                                           <a href="/doc/listechef/{{ util.id_utilisateur }}"   class="btn btn-danger btn-lg ms-3"><i class="bi bi-arrow-left"></i> retour</a>
                <div class="row justify-content-center align-items-center">
                    <div class="col-12">
                        <div class="card shadow custom-card mx-auto">
                            <div class="card-body p-4">
                                <form method="POST" action="/doc/enregistrerchef/" >

                                     {% csrf_token %}
                                    <input type="hidden" name="id_user" value="{{ util.id_utilisateur }}"/>

                                    <div class="text-center mb-4">
                                        <p style="color: #000; font-size: 25px;">Ajouter Chef De Service </p>
                                    </div>
                                    <!-- Prénom input -->
                                     <div class="form-row">
        <div class="col-md-6 mb-6">
                                        <label for="prenom">Prénom</label>
                                        <input name="prenom" type="text" id="prenom" class="form-control form-control-lg" placeholder="Prénom" required />
                                    </div>
                                    <!-- Nom input -->

        <div class="col-md-6 mb-6">
                                        <label for="nom">Nom</label>
                                        <input name="nom" type="text" id="nom" class="form-control form-control-lg" placeholder="Nom" required />
                                    </div>
                                     </div>
                                 <div class="form-row">
        <div class="col-md-6 mb-6">
                                    <!-- Email input -->

                                        <label for="email">Email</label>
                                        <input name="email" type="text" id="email" class="form-control form-control-lg" placeholder="Email" required />
                                        {% if message %}
                                        <p style="color: red"> {{ message }}</p>
                                        {%endif%}
                                    </div>

        <div class="col-md-6 mb-6">
                                        <label for="email">Téléphone</label>
                                        <input name="telephone" type="tel" id="telephone" class="form-control form-control-lg" placeholder="Téléphone"  />
                                    </div>
                                 </div>
                                     <div class="form-row">
                                        <div class="col-md-12 mb-12">
                                        <label for="direction">Direction</label>
                                        <select name="direction" id="direction" class="form-control form-control-lg" required>


                                            <option value="">Sélectionner une direction</option>
                                        <option value="management">Management</option>
                                                 {% for boite in lstdirection%}


                                                          <option value="{{ boite }}">{{ boite }}</option>

        {% endfor %}




                                        </select>
                                    </div>
                                     </div>
<br>
                                 <div class="text-center">
                                        <button type="submit" name="valider" class="btn btn-info btn-icon btn-sm" style="padding: 10px 20px; font-size: 14px; width: 100px;" >Valider</button>
                                       </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
     <script src="/static/assets/js/jstra/js/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/js/jstra/js/popper.min.js"></script>
    <script src="/static/assets/js/jstra/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/jstra/js/main.js"></script>
</body>
</html>
