<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <!-- Ajoutez ce lien pour Bootstrap (si vous ne l'avez pas déjà ajouté) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href=" /static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/assets/styletra/css/owl.carousel.min.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/assets/styletra/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> <!-- For icons -->
    <!-- Style -->
    <!--<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style1.css">-->
      <link href="/static/assets/styletra/css/style.css" rel="stylesheet">
    <link href="/static/assets/styletra/css/style1.css" rel="stylesheet">
    <title>TOM-MEDLOG GED</title>
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    let fetchInterval;
    function fetchData(){
        const paragraphElement = document.getElementById('monutil');
        const paragraphContent = paragraphElement.textContent;


        $.ajax({
            url: '/archive/fetch_mes_demandes_envoyer/18',
            method: 'GET',
            data: { id_user: paragraphContent },
            success: function(response){
                if (response.data) {
                    updateTable(response.data);
                }
            },
            error: function(xhr, status, error) {
                console.error("Error fetching data: ", status, error);
            }
        });
    }

    function updateTable(data) {
        let tableBody = $("#your-table-id tbody");
        let paragraphElement = document.getElementById('monutil');
        let paragraphContent = paragraphElement.textContent;

        tableBody.empty();  // Vide la table actuelle

        data.forEach(function(item) {
        let row = '<tr>';


    row += '<td>' + item.type + '</td>';
    row += '<td>' + item.direction + '</td>';
    row += '<td>' + item.date_dmd + '</td>';
    row += '<td>' + item.commentaire + '</td>';
    row += '<td>';
    if (item.etat === 0 ) {
      row += 'En Cours ';
    }
    if (item.etat === 1){
        row += 'Acceptee';

    }
    if (item.etat === 2) {
      row += 'Refusée ';
    }
     row += '</td>';




row += '</tr>';


    // Ajout de la ligne au tableau
    tableBody.append(row);
    });
    }
            ///Recherche
    //let fetchInterval;
    function filterTable(searchTerm) {
    const tableBody = $("#your-table-id tbody");
    const rows = tableBody.find('tr');

    rows.each(function() {
      const textContent = $(this).text().toLowerCase();
      const visible = textContent.indexOf(searchTerm.toLowerCase()) !== -1;
      $(this).toggle(visible);
    });
  }

  // Event listener for search input
  $("#searchInput").on('keyup', function() {
    const searchTerm = $(this).val();
    filterTable(searchTerm);
  });


    function startFetchingData() {
        fetchData(); // Charger les données initiales
        fetchInterval = setInterval(fetchData, 5000); // 5000ms = 5s
    }

    function stopFetchingData() {
        clearInterval(fetchInterval);


    }
    $("#searchInput").on('keyup', function() {
        if ($("#searchInput").val().trim() !== "") {
            //
            stopFetchingData();
        }else
        {
            //

        }
        if ($("#searchInput").val().trim() === "") {
            startFetchingData();
        }



            });






    // Appeler fetchData() pour charger les données initiales
    //fetchData();

    // Optionnel: Actualiser les données toutes les X secondes
    //setInterval(fetchData, 5000); // 30000ms = 30s
    startFetchingData();
});
</script>

<script>
$(document).ready(function(){
    let fetchInterval

    let notificationCount = 0;
    function fetchDataNot(){
        const paragraphElement = document.getElementById('monutil');
        const paragraphContent = paragraphElement.textContent;


        $.ajax({
            url: '/doc/fetch_permission/18',
            method: 'GET',
            data: { id_user: paragraphContent },
            success: function(response){
                if (response.data) {
                    updateTableNot(response.data);
                }
            },
            error: function(xhr, status, error) {
                console.error("Error fetching data: ", status, error);
            }
        });
    }

    function updateTableNot(data) {
    notificationCount=data.length;
        //notificationCount=5;


    }

      function startFetchingDataNot() {
        fetchDataNot(); // Charger les données initiales
       fetchInterval = setInterval(fetchDataNot, 5000); // 5000ms = 5s
    }

function updateNotificationCount() {
    // Update the paragraph content with the notification count
  const notificationBarElement = document.getElementById('notification-bar');
  notificationBarElement.textContent = `${notificationCount}`;
}

// Update notification count every 100 milliseconds (replace with a suitable interval)
setInterval(updateNotificationCount, 100);
    startFetchingDataNot();

});
</script>
  </head>
  <body>
  {% include 'templatetra/sidebar.html' %}
    <main>
       <div class="header">
    <div class="header-content d-flex justify-content-between align-items-center py-3 px-4">
        <!-- Barre de recherche à gauche -->
        <div class="d-flex align-items-center" style="width: 55%;">
            <!--<form class="form-inline my-2" style="width: 100%;">
                <input class="form-control mr-2 search-bar w-100" type="search" placeholder="Search" aria-label="Search">
            </form>-->
            <!--<a href="list_demande.html" class="position-relative ml-2">
                <i class="fas fa-bell fa-lg" style="color: black;"></i>
            </a>-->
        </div>
        {% if util.role == 'chef'  %}
             <div class="d-flex align-items-center">

               <a


          href="/archive/demande_permission_recue/{{ util.id_user}}"

        >
          <i class="fas fa-bell" style="color: black"></i>
          <span class="badge rounded-pill badge-notification bg-danger" id="notification-bar"></span>
        </a>

        </div>
        {% endif %}
      <div class="d-flex align-items-center">

            <div class="text-right text-white mr-3">
                <p style="color: black" class="mb-0">{{ util.fullname }}</p>
                <p style="color: black" class="mb-0">{{ util.direction }}</p>
                <a style="color: red" href="/doc/deconnexion/">Se Déconnecter</a>
            </div>
            <img src="/static/images/imgtra/images/logo1.png" alt="Profile Image" class="rounded-circle profile-img" style="width: 80px; height: 80px;">
        </div>
    </div>
</div>
      <div class="site-section">


        <div style="display: flex; justify-content: center; width: 100%;">

          <main style="width: 100%;">


              <div class="site-section">

                  <div class="container">
                   <!-- <button class="btn btn-info btn-icon btn-sm" onclick="window.location.href='/doc/ajouterboite_page/{{ util.id_utilisateur }}'">
                    <i class="bi bi-plus-lg"></i> Ajouter
                </button>-->
                   <!-- <div class="row align-items-center">
                        <form class="form-inline my-4" style="width: 100%; justify-content: center;">
                            <input class="form-control mr-sm-2 search-bar w-75" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-dark my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div>-->
                  <p>Tapez un mot à rechercher</p>
  <input class="form-control"  id="searchInput" onkeyup="filterTable()" type="text" placeholder="Search..">
  <br>
                      <div class="row align-items-center">



<!--<table   class="table table-striped table-hover" id="dataTable" >
                            <thead class="thead-light">
                              <tr>
                                <th scope="col" class="col-3">N° Document</th>
                                <th scope="col" class="col-3">Direction</th>
                                  <th scope="col" class="col-3">Date</th>
                                  <th scope="col" class="col-3">Etat</th>

                              </tr>
                            </thead>
                            <tbody id="myTable">
                              {% for boite in lstres %}
                              <tr>
                                <td>{{ boite.numero_docuent}}</td>
                                   <td>{{ boite.service}}</td>
                                   <td>{{ boite.date_dmd}}</td>
                                   <td>
                                    {% if boite.etat == 0%}
                                        En cours

                {% else %}
 Refusée

                                            {% endif %}


                                <td>
                                  <div class="action-buttons">


                                  </div>
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>-->
                       <table class="table table-striped table-hover" id="your-table-id">
 <thead class="thead-light">
                                        <tr>
                                                  <tr>
                                 <th scope="col" class="col-3">Type d'Objet</th>
                                <th scope="col" class="col-3">Direction</th>
                                  <th scope="col" class="col-3">Date</th>
                                            <th scope="col" class="col-3">Reponse</th>
                                  <th scope="col" class="col-3">Etat</th>
                              </tr>
                                        </tr>
                                    </thead>
    <tbody class="monbody">
        <!-- Les données seront insérées ici par AJAX -->
    </tbody>
</table>
                      <p style="display:none;" id="monutil">{{ util.id_user }}</p>
                            <p id="monboite" style="display:none">{{ boite.id_boite }}</p>
                            <p id="rg" style="display:none">{{ boite.numero_rang }}</p>
                            <p style="display:none;" id="role">{{ util.role }}</p>

                      </div>
                  </div>
              </div>
          </main>
      </div>

      </div>
    </main>
      <script>
        function filterTable() {
            // Déclaration des variables
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toLowerCase();
            table = document.getElementById("dataTable");
            tr = table.getElementsByTagName("tr");

            // Boucle sur toutes les lignes du tableau, sauf l'en-tête
            for (i = 1; i < tr.length; i++) {
                tr[i].style.display = "none"; // Cache la ligne par défaut
                td = tr[i].getElementsByTagName("td");
                // Boucle sur toutes les cellules de la ligne courante
                for (j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toLowerCase().indexOf(filter) > -1) {
                            tr[i].style.display = ""; // Affiche la ligne si une cellule correspond
                            break; // Sort de la boucle pour passer à la ligne suivante
                        }
                    }
                }
            }
        }
    </script>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
 <script src="/static/assets/js/jstra/js/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/js/jstra/js/popper.min.js"></script>
    <script src="/static/assets/js/jstra/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/jstra/js/main.js"></script>
  <script>
$(document).ready(function(){
    let fetchInterval

    let notificationCount = 0;
    function fetchDataNot(){
        const paragraphElement = document.getElementById('monutil');
        const paragraphContent = paragraphElement.textContent;


        $.ajax({
            url: '/archive/fetch_demande_acces/18',
            method: 'GET',
            data: { id_user: paragraphContent },
            success: function(response){
                if (response.data) {
                    updateTableNot(response.data);
                }
            },
            error: function(xhr, status, error) {
                console.error("Error fetching data: ", status, error);
            }
        });
    }

    function updateTableNot(data) {
    notificationCount=data.length;
        //notificationCount=5;


    }

      function startFetchingDataNot() {
        fetchDataNot(); // Charger les données initiales
       fetchInterval = setInterval(fetchDataNot, 5000); // 5000ms = 5s
    }

function updateNotificationCount() {
    // Update the paragraph content with the notification count
  const notificationBarElement = document.getElementById('notification-bar');
  notificationBarElement.textContent = `${notificationCount}`;
}

// Update notification count every 100 milliseconds (replace with a suitable interval)
setInterval(updateNotificationCount, 100);
    startFetchingDataNot();

});
</script>

  </body>
</html>