<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <!-- Ajoutez ce lien pour Bootstrap (si vous ne l'avez pas déjà ajouté) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href=" /static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/assets/styletra/css/owl.carousel.min.css">
  <style>
          label{color: black}
      </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/assets/styletra/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> <!-- For icons -->
    <!-- Style -->
    <!--<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style1.css">-->
      <link href="/static/assets/styletra/css/style.css" rel="stylesheet">
    <link href="/static/assets/styletra/css/style1.css" rel="stylesheet">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
    <title>TOM-MEDLOG GED</title>
       {% load l10n %}
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    let fetchInterval;
    function fetchData(){
        const paragraphElement = document.getElementById('monutil');
        const paragraphContent = paragraphElement.textContent;

        const rgElement = document.getElementById('rg');
        const rgContent = rgElement.textContent;
        ////
        const roleElement = document.getElementById('role');
        const roleContent = roleElement.textContent;
        ////
        const boiteElement = document.getElementById('monboite');
        const boiteContent = boiteElement.textContent;
        ////Pagination
        const itemsPerPage = 10; // Define items per page
  const currentPage = 1; // Initialize current page
        $.ajax({
            url: '/doc/fetch_boite/18',
            method: 'GET',
            data: { id_user: paragraphContent },
            success: function(response){
                if (response.data) {
                    updateTable(response.data);
                }
            },
            error: function(xhr, status, error) {
                console.error("Error fetching data: ", status, error);
            }
        });
    }

    function updateTable(data) {
        let tableBody = $("#your-table-id tbody");
        let paragraphElement = document.getElementById('monutil');
        let paragraphContent = paragraphElement.textContent;
        let boiteElement = document.getElementById('monboite');
        let boiteContent = boiteElement.textContent;
        let rgElement = document.getElementById('rg');
        let rgContent = rgElement.textContent;
        ////
        let roleElement = document.getElementById('role');
        let roleContent = roleElement.textContent;
        tableBody.empty();  // Vide la table actuelle

        data.forEach(function(item) {
        let row = '<tr>';

    row += '<td>'  + item.mention + '</td>';


    row += '<td>' + item.date_creation + '</td>';
    row += '<td>';
    if (item.etat === 1) {
      row += 'Non Clôturée ';
    } else if ( item.rg === 0 ) {
        row += 'Clôturée et Classée';


    } else {
        row += 'Clôturée';

    }
     row += '</td>';
    row += '<td>';
    row += '<div class="action-buttons">';
     row += `<a href="/doc/voiredetail/${item.id}/${paragraphContent}"  class="btn btn-info btn-icon btn-sm" style="padding: 10px 20px; font-size: 14px; width: 100px;"><i class="bi bi-send"></i>Detail</a>`;
      row += `<a href="/doc/listedocumentboite/${item.id}/${paragraphContent}" class="btn btn-info btn-icon btn-sm"><i class="bi bi-list"></i>Document</a>`;
    if (item.rg === 0 && item.etat=== 0 && item.cons===0 ) {
         row += `<a href="/doc/demandeboite/${paragraphContent}/${item.id}"  class="btn btn-info btn-icon btn-sm" style="padding: 10px 20px; font-size: 14px; width: 100px;"><i class="bi bi-send"></i>Consulter</a>`;


    }
     row += '</div>';
    row += '</td>';



row += '</tr>';







row += '</tr>';

    // Ajout de la ligne au tableau
    tableBody.append(row);
    });
    }
            ///Recherche
    //let fetchInterval;
    function filterTable(searchTerm) {
    const tableBody = $("#your-table-id tbody");
    const rows = tableBody.find('tr');

    rows.each(function() {
      const textContent = $(this).text().toLowerCase();
      const visible = textContent.indexOf(searchTerm.toLowerCase()) !== -1;
      $(this).toggle(visible);
    });
  }

  // Event listener for search input
  $("#searchInput").on('keyup', function() {
    const searchTerm = $(this).val();
    filterTable(searchTerm);
  });


    function startFetchingData() {
        fetchData(); // Charger les données initiales
        fetchInterval = setInterval(fetchData, 5000); // 5000ms = 5s
    }

    function stopFetchingData() {
        clearInterval(fetchInterval);


    }
    $("#searchInput").on('keyup', function() {
        if ($("#searchInput").val().trim() !== "") {
            //
            stopFetchingData();
        }else
        {
            //

        }
        if ($("#searchInput").val().trim() === "") {
            startFetchingData();
        }



            });






    // Appeler fetchData() pour charger les données initiales
    //fetchData();

    // Optionnel: Actualiser les données toutes les X secondes
    //setInterval(fetchData, 5000); // 30000ms = 30s
    startFetchingData();


});
</script>

<script>
$(document).ready(function(){
    let fetchInterval

    let notificationCount = 0;
    function fetchDataNot(){
        const paragraphElement = document.getElementById('monutil');
        const paragraphContent = paragraphElement.textContent;


        $.ajax({
            url: '/doc/fetch_permission/18',
            method: 'GET',
            data: { id_user: paragraphContent },
            success: function(response){
                if (response.data) {
                    updateTableNot(response.data);
                }
            },
            error: function(xhr, status, error) {
                console.error("Error fetching data: ", status, error);
            }
        });
    }

    function updateTableNot(data) {
    notificationCount=data.length;
        //notificationCount=5;


    }

      function startFetchingDataNot() {
        fetchDataNot(); // Charger les données initiales
       fetchInterval = setInterval(fetchDataNot, 5000); // 5000ms = 5s
    }

function updateNotificationCount() {
    // Update the paragraph content with the notification count
  const notificationBarElement = document.getElementById('notification-bar');
  notificationBarElement.textContent = `${notificationCount}`;
}

// Update notification count every 100 milliseconds (replace with a suitable interval)
setInterval(updateNotificationCount, 100);
    startFetchingDataNot();

});
</script>
  </head>





  <body>
    {% include 'templatetra/sidebar_ged.html' %}


    <main>
       <div class="header">
    <div class="header-content d-flex justify-content-between align-items-center py-3 px-4">
        <!-- Barre de recherche à gauche -->
        <div class="d-flex align-items-center" style="width: 55%;">


        </div>
        {% if util.role == 'chef'  %}
             <div class="d-flex align-items-center">

               <a


          href="/doc/liste_permission/{{ util.id_utilisateur }}"
          id="navbarDropdownMenuLink"
          role="button"
          aria-expanded="false"
        >
          <i class="fas fa-bell" style="color: black"></i>
          <span class="badge rounded-pill badge-notification bg-danger" id="notification-bar"></span>
        </a>

        </div>
        {% endif %}
       <div class="d-flex align-items-center">

            <div class="text-right text-white mr-3">
                <p style="color: black" class="mb-0">{{ util.nom }} {{ util.prenom }}</p>
                <p style="color: black" class="mb-0">{{ util.direction }}</p>
                <a style="color: red" href="/doc/deconnexion/">Se Déconnecter</a>
            </div>
            <img src="/static/images/imgtra/images/logo1.png" alt="Profile Image" class="rounded-circle profile-img" style="width: 80px; height: 80px;">
        </div>
    </div>
       </div>
</div>


        <div class="site-section">
            <div class="container">
                 <a type="button"  class="btn btn-danger btn-lg ms-3" href="/doc/listeboite/{{ util.id_utilisateur }}"><i class="bi bi-arrow-left"></i> retour</a>
                <div class="row justify-content-center align-items-center">
                    <div class="col-12">
                        <div class="card shadow custom-card mx-auto">
                            <div class="card-body p-4">
                     <form method="POST" action="/doc/updateboite/">
                                     {% csrf_token %}


                                        <input type="hidden" name="id_user" value="{{util.id_utilisateur}}"  />
                                        <input type="hidden" name="id_boite" value="{{boite.id_boite}}"  />
                                    <div class="text-center mb-4">
                                        <p style="color: #000; font-size: 25px;">Details Boite {{ boite.mention }}</p>
                                    </div>
                                    <div class="form-row">
    <div class="col-md-6 mb-6">
                                        <label for="mentions">Mention</label>
                                        <input type="text" name="mention" id="mentions" class="form-control form-control-lg" value="{{ boite.mention}}" />
        {% if message %}
                                            <p style="color: red">{{ message }}</p>
                                        {%  endif %}
                                    </div>
                                   <div class="col-md-6 mb-6">
                                        <label for="mentions">Numero De Rangement</label>
                                        <input type="text" name="num_rang" id="num" class="form-control form-control-lg" placeholder="{{boite.numero_rang}}" readonly/>
                                    </div>
                                    </div>
                                     <div class="form-row">
    <div class="col-md-6 mb-6">

                                        <label for="mentions">Armoire</label>
                                        <input type="text" name="armoire" id="armoire" class="form-control form-control-lg" placeholder="{{boite.harmoire}}" readonly />
                                    </div>
                                       <div class="col-md-6 mb-6">
                                        <label for="mentions">Compartiment</label>
                                        <input type="text" name="compartiment" id="compartiment" class="form-control form-control-lg" placeholder="{{boite.numero_comp}}"  readonly/>
                                   </div>
                                     </div>
                                    <div class="form-row">
    <div class="col-md-12 mb-12">

                                    <label for="mentions">Niveau</label>
                                    <input type="text" name="niveau" id="mentions" class="form-control form-control-lg" placeholder="{{boite.niveau}}" readonly />
                                </div>
                                     </div>
                         <br>


                                    <!-- Niveau input -->

                                    <div class="text-center">
                                         <a style="padding: 10px 20px; font-size: 14px; width: 100px;" type="button"  class="btn btn-danger btn-lg ms-3" href="/doc/listeboite/{{ util.id_utilisateur }}"> Annuler</a>
                                        <button type="submit" name="valider" class="btn btn-info btn-icon btn-sm" style="padding: 10px 20px; font-size: 14px; width: 100px;">Valider</button>
                                        <!--<button  class="btn btn-danger btn-lg ms-3" style="padding-left: 2.5rem; padding-right: 2.5rem;">-->

                                        <!--</button>-->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <p  id="monutil">{{ util.id_utilisateur }}</p>
        </div>
    </main>
     <script src="/static/assets/js/jstra/js/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/js/jstra/js/popper.min.js"></script>
    <script src="/static/assets/js/jstra/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/jstra/js/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    let fetchInterval;
     let notificationCountCons = 0;
    function fetchDataconsulation(){
        const paragraphElement = document.getElementById('monutil');
        const paragraphContent = paragraphElement.textContent;
        $.ajax({
            url: ''/doc/fetch_permission/18'',
            method: 'GET',
            data: { id_user: paragraphContent },
            success: function(response){
                if (response.data) {
                    updateTable(response.data);
                }
            },
            error: function(xhr, status, error) {
                console.error("Error fetching data: ", status, error);
            }
        });
    }

    function updateTable(data) {

        data.forEach(function(item) {

notificationCountCons=data.length;



    });
    }

function updateNotificationCountCons() {
    fetchDataconsulation(); // Charger les données initiales
        fetchInterval = setInterval(fetchDataconsulation, 5000);
    // Update the paragraph content with the notification count
  const notificationBarElement = document.getElementById('notification-bar-consultation');
  notificationBarElement.textContent = `${notificationCountCons}`;
}

// Update notification count every 100 milliseconds (replace with a suitable interval)
setInterval(updateNotificationCountCons, 100);
});
</script>
  <script>
</body>
</html>
